.cell {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/img/field_icons/field.png');
  border: none;
}

.cell:hover {
  cursor: pointer;
}

.opened {
  background-image: url('../../../public/img/field_icons/field_opend.png');
}

.flagged {
  background-image: url('../../../public/img/field_icons/flag.png');
}

.question {
	background-image: url('../../../public/img/field_icons/question.png');
}

.armed {
  background-image: url('../../../public/img/field_icons/mine_armed.png');
}

.mine {
  background-image: url('../../../public/img/field_icons/mine.png');
}

.disarmed {
  background-image: url('../../../public/img/field_icons/mine_disarmed.png');
}

.mine_1 {
	background-image: url('../../../public/img/field_icons/number_1.png');
}
.mine_2 {
	background-image: url('../../../public/img/field_icons/number_2.png');	
}

.mine_3 {
	background-image: url('../../../public/img/field_icons/number_3.png');	
}

.mine_4 {
	background-image: url('../../../public/img/field_icons/number_4.png');	
}

.mine_5 {
	background-image: url('../../../public/img/field_icons/number_5.png');	
}

.mine_6 {
	background-image: url('../../../public/img/field_icons/number_6.png');	
}

.mine_7 {
	background-image: url('../../../public/img/field_icons/number_7.png');	
}

.mine_8 {
	background-image: url('../../../public/img/field_icons/number_8.png');	
}